<% include partials/header %>
<div style ="margin-top:60px;" class="page-header">
  <h1>Here is our weekly diet chart plan only for you</h1>
</div>
<div id="container">
    <div id="diet">
        <h3 class="first">Day 1</h3>
        <hr>
        <ul class="ulDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/P/Poached%20Egg%20on%20Toast-dietplan3.jpg"><strong>Breakfast</strong>- Poached Eggs and Tomato on toast</li><hr class="hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/j/jacket-potato-with-cottage-cheese-dietplan3.jpg"><strong>Lunch</strong>- Jacket Potato with Cottage Cheese and Salad</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/M/Mushroom%20Pasta-dietplan3.jpg"><strong>Dinner</strong>- Creamy Mushroom Pasta</li><hr class= "hrDiet">
        </ul>
        <h3 class="first">Day 2</h3>
        <hr>
        <ul class="ulDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/C/Cream%20Cheese%20Bagel-dietplan3.jpg"><strong>Breakfast</strong>-Cream Cheese and Tomato Bagel</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/h/houmous-with-crudites-pitta-bread-dietplan3.jpg"><strong>Lunch</strong>- Houmous, Crudités and Pitta</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/v/vegetable-stir-fry-dietplan3.jpg"><strong>Dinner</strong>- Veggie Stir-fry with Rice</li><hr class= "hrDiet">
        </ul>
        <h3 class="first">Day 3</h3>
        <hr>
        <ul class="ulDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/S/Shredded%20Wheat%20with%20Banana-dietplan3.jpg"><strong>Breakfast</strong>- Shredded Wheat and Banana</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/w/waldorf-salad-dietplan3.jpg"><strong>Lunch</strong>- Nutty Tropical Salad</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/R/Roasted%20Veg-dietplan3.jpg"><strong>Dinner</strong>- Mozzarella Toast with Roasted Vegetables</li><hr class= "hrDiet">
        </ul>
        <h3 class="first">Day 4</h3>
        <hr>
        <ul class="ulDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/b/bran-flakes-in-a-bowl-dietplan3.jpg"><strong>Breakfast</strong>- Bran Flakes with Raisins and Banana</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/E/Egg%20Mayo%20Sandwich-dietplan3.jpg"><strong>Lunch</strong>- Egg and Tomato Sandwich with a Yoghurt</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/s/stuffed-peppers-with-cous-cous-dietplan3.jpg"><strong>Dinner</strong>- Greek Style Stuffed Peppers and Salad</li><hr class= "hrDiet">
        </ul>
        <h3 class="first">Day 5</h3>
        <hr>
        <ul class="ulDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/M/Muesli%20with%20Apricot-dietplan3.jpg"><strong>Breakfast</strong>- Fruity Muesli</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/A/Avocado%20Salad-dietplan3.jpg"><strong>Lunch</strong>- Insalata Caprese</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/J/Jacket-Potato-Stuffed-with-beans-dietplan3.jpg"><strong>Dinner</strong>- Jacket Potato with Cheese, Beans and Salad</li><hr class= "hrDiet">
        </ul>
        <h3 class="first">Day 6</h3>
        <hr>
        <ul class="ulDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/b/banana-smoothie-dietplan3.jpg"><strong>Breakfast</strong>- Banana Shake and Fruit Salad</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/l/lentil-soup-dietplan3.jpg"><strong>Lunch</strong>- Lentil Soup and Oatcakes with Soft Cheese</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/C/Couscous-with-vegetables-dietplan3.jpg"><strong>Dinner</strong>- Moroccan Bean and Couscous Salad</li><hr class= "hrDiet">
        </ul>
        <h3 class="first">Day 7</h3>
        <hr>
        <ul class="ulDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/s/scrambled-egg-tomato-toast-dietplan3.jpg"><strong>Breakfast</strong>- Scrambled Eggs and Tomato on Toast</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/T/Tofu-spinach-&-tomato-wrap-dietplan3.jpg"><strong>Lunch</strong>- Greek Salad Wrap</li><hr class= "hrDiet">
            <li><img class= "dietImg" src="https://www.weightlossresources.co.uk/pimg/wlr/t/three-bean-veggie-chilli-dietplan3.jpg"><strong>Dinner</strong>- Chilli Con Veggie with Rice</li><hr class= "hrDiet">
        </ul>
        
    </div>
    
    
    
</div>




<% include partials/footer %>
